<%- include('./partials/header') %>

  
  <main class="content">
    <section class='content__hero-banner'>
      <img src="/images/home/bannerColdplay.png" alt="">
    </section>

    <section class='content__presentation'>
      <img id="company-logo" src="/images/imagensEmComum/logo.png" alt="Digital Ingresso logo">
      <div class='content__presentation__text'>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi utt."</p>
      </div>
    </section>

    <section class='shows'>
      <header class="shows__header">
        <div class='shows__header__title'>
          <img src='/images/perfil/codigoBarra.png' />
          <p>confira nossos shows</p>
          <img src='/images/perfil/codigoBarra.png' />
        </div>

      </header>
    </main>
    <div class="lista_eventos">
      <% if (eventos && eventos.length > 0) { %>
      <% eventos.map(evento => { %>
        <button type="submit" class="comprar">
            <div class="lista_evento2">
              <img class="evento__img" src="/upload/<%= evento.avatar %>"/>
              
              <div class="show text"><%= evento.nome__evento %></div>
              <!-- <div style="height: 18px"></div> -->
              <div class="show text evento__res"><%= evento.local__evento %></div>
              <div class="show text"><%= evento.data__evento %> <%= evento.hora__evento %></div>
            
              
              
              
            </div>  
          </button>
      <% }) %>
    </div>

  <% } else { %>
      <h4>Nenhum evento cadatrado</h4>
  <% } %>


      
      <%- include('./partials/footer') %>

      







