<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/shows.css">

    <title>Document</title>
</head>
<body>
    


    <header>
        <%- include('./partials/header') %>
    </header>
    
    
    <main>
    
        <div id="conteudoShows">
    <% if (concertos && concertos.length > 0) { %>
                <% concertos.map(concerto => { %>
                
        <div class="show">            
            <div class="show1">
                <% console.log("nome da foto ", concerto.fotoEvento) %>
                <img src='./upload/concertos/<%= concerto.fotoEvento %>' alt=""/>
            </div>
            <div class="text">
                <h1> <%= concerto?.evento %></h1>
                <h2> <%= concerto?.localEvento %></h2>
                <h3> <%= concerto?.cidadeEvento %> </h3>
                <h3> <%= concerto?.ruaEvento %> <br> <%= concerto?.bairroEvento %> <br> <%= concerto?.dataEvento + ' - ' + concerto?.horaEvento + ' horas' %> </h3>
            </div>
            <form class="buy">
                <input class="buy" type="button" value="comprar">
            </form>
            
        </div>
        <% }) %>

        <% } else { %>
            <h4>Nenhum concerto cadatrado</h4>
        <% } %>
    
    
    </div>
    
    
    <div id="conteudo">
        <div id="enunciado2">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id doloribus, modi, minus odit odio ad amet reiciendis quasi neque tempore quisquam impedit cum delectus dolor eligendi porro itaque, nihil perferendis!</h1>
        </div>
    </main>
    
    <footer id="footerShows">
         <%- include('./partials/footerCopy') %>
    </footer>
     
    

</body>
</html>